html {
    background-color: rgba( 0, 0, 0, 1);
    color: white;
};
a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: white;
  }
  a:active {
    color: white;
  }

  menu {
    padding: 0;
  }
  
  .list {
    padding: 0;
  }